body {
    font-family: arial;
    font-size: medium;
 }

 .diet {
    color: #ff5500;
    text-transform: uppercase;
 }

 #burger {
    background-color: black;
    color: antiquewhite;
 }

 button:hover {
    color: seagreen;
    cursor: pointer;
 }

/* Your comment goes here 