@import url('https://fonts.cdnfonts.com/css/tolkien');

body {
    font-family: 'Tolkien', sans-serif;
    font-size: 16px;
    background-color:seagreen;
    margin: 0em;
}

header {
    height: 40vh;
    overflow: hidden;
    position: relative;
    font-size: x-large;
    font-weight: bolder;
    ;
    color:peru;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Headerimg {
    opacity: 0.60;
    width: 100%;
}

#burgerimg {
    width: 40vh;
    height: 35vh;
    overflow: hidden;
    padding: 3vh;

}

.diet {
    color: green;
    font-weight: bolder;
}

.allergy {
    color:brown;
    font-weight: bolder;
}

#contact {
    background-color: seagreen;
    color: black;
    margin: 5vh;
    padding: 2vh;
    border: 0.5vh double peru;
}

#burger {
    margin: 5vh;
    padding: 2vh;
    border: 0.5vh double peru;
    text-align: center;
}

button {
    margin: 2vh 5vh;
    padding: 2vh 5vh;
    border: solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

button:hover {
    background-color: peru;
}

#ring{
    width: 5vh;
    height: 5vh;
}

.Burgerselection{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 30em 30em 30em;
    background-color:lightsteelblue;
    color:azure;
}

.Titel-block{
    grid-column: 1 / span 3;
    grid-row: 1;
}

.block-A {
    grid-column: 1;
    grid-row: 2;
}

.block-B {
    grid-column: 2;
    grid-row: 2;
}

.block-C {
    grid-column: 3;
    grid-row: 2;
}